.nav_image{
    width: 200px;
    
}

.mainpadding{
    padding-left: 10%;
}
.col_img{
    width: 100%;
    
}
h1{
    font-family: 'Inter', sans-serif;
    color: #FABE4C;
}

.secondh1{
        color: #000;
        
             }
   
p{
    font-family: 'Inter', sans-serif;
}

.card_img{
    height: 350px;
    width: 100% ;
    padding: 15px 25px;
    background-color: whitesmoke;
    border-radius: 1em;
}
.card_img2{
    height: 350px;
    width: 100% ;
    padding: 20px 45px;
    background-color: whitesmoke;
    border-radius: 1em;

}

.clr{
    color: teal;
}

.card_hight{
    height: 100px;
}


.icon{
    width: 40%;
}
.lasth3{
    color: #db981c;
    text-align: center;
           
}
.lasth3:hover{
    color: #f5c368;
}
.for{
    color: black;
}

.filled{
    color: black;
}
.unfilled{
    color: darkgrey;
}
footer {
    text-align: center ;  
    background-color: gray; 
    color: white;
}


body{
    background-color: rgb(235, 228, 228);
}
.part1{
    background-color:rgb(247, 229, 229);
}
.part2{
    background-color: rgb(205, 237, 240);
}
.part3{
    background-color: rgb(227, 243, 197);
}
.part4{
    background-color: rgb(245, 217, 234);
}
.part5{
    background-color: rgb(242, 247, 220);
}
